/* ===========================
   RESET DO NAVEGADOR
=========================== */

* { margin: 0; 
    padding: 0; 
    box-sizing: 
    border-box; }

/* ===========================
   GLOBAL
=========================== */

html {
    scroll-behavior: smooth;
}

body {  font-family: Arial, sans-serif;
        background-color: #ffffff;
        color: #222;    
        border-radius: 15px;}

main { background-color: #cbbbab; }

/* ===========================
   HEADER
=========================== */

header {
    margin: 40px;
    background-color: #ffffff;
}

.conteudo-header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px;  
}

.menu a { padding: 10px 15px;}

/* ===========================
   HOME PAGE
=========================== */

#home {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
}

.home-imagem {
    width: 40%;
    overflow: hidden;
}

.home-imagem img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-right: #ffffff 25px solid;
}

.home-conteudo {
    width: 60%;
    background: #cbbbab; 
    padding: 120px 80px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-conteudo h1 {
    font-size: 84px;
    line-height: 1.1;
    margin-bottom: 40px;
}

.home-conteudo .sub {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #f3eee9;
}

.home-conteudo .author {
    font-size: 20px;
    color: #fff;
}

/* ===========================
   ABOUT
=========================== */

#about {
    display: flex;
    margin-left: 40px;
    min-height: 100vh;
    max-height: 100vh;
}

.about-conteudo {
    width: 100%;
    background: #ffffff; 
    color: #200000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-lado-esquerdo {
    width: 50%;
    padding: 80px;
    object-fit: cover;
}

.about-lado-esquerdo-topo {
    margin-bottom: 40px;
}

.about-lado-esquerdo-topo h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-listas {
    display: flex;
    gap: 40px;
}

.about-lista h4 {
    font-size: 20px;
    margin-bottom: 15px;

}

.about-lado-direito {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

 .about-lado-direito img {
    width: 100%;
    max-width: 100%;
    object-fit: cover
}

/* ===========================
    PROJECTS
=========================== */

#projects {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}

.projects-titulo {
    width: 100%;
    background: #cbbbab; 
    color: #200000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.projects-lista {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.projects-navegar img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.projects-navegar h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

.projects-navegar img:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease;
    
}



/* ===========================
    CONTATO
=========================== */

#contact {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
    max-height: 100vh;
}

.contact-imagem {
    width: 40%;
    overflow: hidden;
}

.contact-imagem img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-left: #ffffff 25px solid;
}

.contact-conteudo {
    width: 60%;
    background: #cbbbab; 
    padding: 120px 80px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: #ffffff 50px solid;
}

.contact-conteudo h1 {
    font-family: Playfair Display, serif;
    font-size: 84px;
    font-weight: normal;
    line-height: 1.1;
    margin-bottom: 40px;
}
.contact-conteudo h2 {
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #f3eee9;
}

.contact-conteudo ul {
    margin-bottom: 80px;
    list-style-position: inside;
}

.contact-conteudo li {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;

}

#contact-dayane-felix {
    font-family: Montserrat, sans-serif;
    font-style: italic;
    font-size: 32px;
    color: #ffffff;
    margin-top: 40px;
}

/* ===========================
    FOOTER
=========================== */

footer { 
    background-color: #ffffff;  
    padding: 20px 0; 
}

.footer-conteudo { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;

}

.footer-dayane-felix {
    
}

.footer_portifolio-2025 { 
    
}

.footer-secoes {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding: 20px;
    gap: 40px
}

.footer-redes-sociais nav {
    display: flex;
    flex-direction: column;
    
}

.footer-projetos nav {
    display: flex;
    flex-direction: column;
    
}

.footer-contato nav {
    display: flex;
    flex-direction: column;
    
}